.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;

    h2 {
        font-weight: initial;
    }

    .charts-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 24px;

        .line-chart, .bar-chart {
            width: 700px;
        }
    }

    .table-container {
        text-align: left;

        .table-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .add-product-button {
                margin-left: auto;
                margin-right: 4.5rem;
                color: unset;
            }
        }

        table {
            width: 700px;

            a {
                color: unset;
            }
        }
    }
}
