.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.description-container {
  display: flex;
  align-items: flex-start; 
  max-width: 800px;
  background-color: #f8f8f8;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
}

.description-content-left {
  margin-right: 20px; 
}

.description-image {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.description-content-right {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.description-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #9e3939;
}

.description-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #9e3939;
}

.description-price {
  font-size: 18px;
  margin-bottom: 10px;
  color: #9e3939;
    text-align: center;
}

.add-to-cart {
  align-self: flex-end;
  background-color: #9e3939;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #dcdcdc;
  color: #8a2be2;
}
