.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        label {
            align-self: flex-start;
        }

        input {
            margin-bottom: 1rem;
        }
    }
}
