.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 155, 220);
  color: white;
  opacity: 0.6;
  text-align: center;
  padding: 2% 5%;
  margin: 0 auto; 
  height: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center; 
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-link-home,
.nav-link-dashboard,
.nav-link-login,
.nav-link-cart {
  font-size: 1.5vw; 
  margin-top: 5px;
}

.nav-link-cart {
  margin-left: 11vw;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 6vw;
}

.search-input {
  padding: 0.5vw;
  border: none;
  border-radius: 4px;
  margin-right: 1vw;
  width: 40vw; 
}

.search-button {
  font-size: 1vw; 
  background-color: rgb(255, 255, 255);
  color: rgb(220, 155, 220);
  border: none;
  padding: 0.5vw; 
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 5% 10%;
  }

  .search-container,
  .nav-link-cart {
    display: none;
  }
}
