.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  width: 200px; 
}

.product-image {
  width: 100%;
  height: auto; 
  margin-bottom: 5px;
}

.product-text {
  text-decoration: none;
  color: #333;
}
